@charset "UTF-8";

body
{font-family: Arial, Helvetica, sans-serif;font-size: 1em;}

h1
{text-decoration: underline ;}

/*Medidas absolutas= cm, mm, in(Polegada), px!, pt, pc(Paica)

Medidas relativas= em!!, ex, rem, vw(View-width), vh, %

16px geralmente = 1 em
*/
/* Weight=Peso
width=Largura
height=Altura */
/*font-weight= Lighter, normal, bold, bolder. ou 100% a 900%*/

/*Shorthand "font"->
font-style, font-weight, font-size, font-family
*/