@charset "UTF-8";

body
{font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal;}

h1
{font-family:'Cloister', Times, serif; font-size: 3em; font-weight: normal;}

@font-face 
{font-family:"Cloister" ;src: url("Fonts/CloisterBlack.ttf") format("truetype");}

/*Tipos de format: 
-Open type
-True type
-Embedded-opentype
-truetype-aat (apple advanced typografy)
-svg
*/