@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

body
{font-family:"Work Sans", arial, verdana, sans-serif;font-size: 1em; color: black;}

h1
{font-family: 'Playwrite NO, serif';font-size: 3em;}

h2{font-family: 'playwrite NO, serif'; font-size: 1.5em;}

