@charset "UTF-8";

/*
HTML é id = CSS é #
HTML é class = CSS é .
*/

body
{background-color:rgb(226, 255, 182) ;font-family: Arial, Helvetica, sans-serif;}

h1#principal
{color: rgb(245, 245, 245);text-align: center;text-decoration: underline; background-color: rgb(1, 170, 1);}

h1
{color: rgb(0, 190, 0);}

h2
{color: rgb(0, 97, 0);}

.basico
{color: rgb(0, 190, 0)}

.intermed
{color: rgb(177, 190, 0)}

.avançado
{color: rgb(190, 6, 0)}

.destaque
{background-color: rgba(230, 230, 46, 0.575);}