@charset "UTF-8";

/*
SELETORES PERSONALIZADOS
# = ID
. = Class
: = pseudo class
:: = pseudo elemente
> = children
*/

body
    {font-family:Arial, Helvetica, sans-serif ;}

a
    {color: red;
    text-decoration:none;}

a:visited
    {color: darkred;}

a:hover
    {text-decoration: underline; color: black;}

a:active
    {color: yellow;}

.especial::after
    {content: '⟸'}

.especial::before
    {content:'⟹'}