@charset "UTF-8";

*
{font-family: Arial, Helvetica, sans-serif;}

body
{background-image:linear-gradient(to left, #9FC131, #DBF227) ;}

p
{text-align: justify;}

main
{background-color:white; width: 600px;padding: 10px; margin: auto;border-radius: 10px;box-shadow:5px 5px 15px #4b5c1794;}

h1
{color:#b1d635;text-align: center; text-shadow: 1px 1px 2px #8ead2a8c;}

h2
{color:#D6D58E;}