@charset "UTF-8";

body
    {font-family: Arial, Helvetica, sans-serif;
    background-color: dimgrey;
    margin: 0px;}

header
    {background-color: white; 
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.526);}

main
    {background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.526);;}

footer
    {background-color: black;
    color: white; text-align: center;
    padding: 5px;
    margin: 0px;}

footer > p
    {margin: 0px;}

article
    {background-color: lightgray;
    padding: 5px;}

article > aside
    {background-color: rgb(161, 161, 161);}

nav
    {background-color: rgb(109, 109, 109);
    padding: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.526);}

nav > a
    {text-decoration: none; 
    color: white;
    font-weight: bold;
    margin-right: 10px;}

nav > a:hover
    {text-decoration: underline;}

h1
    {box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.523);}

div#bola
    {height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;}